body {
    text-align: center;
    background-color: #FFF2D8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #113946;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    max-width: 1200px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: #113946;
}

.section {
    margin: 20px 0;
}

input, button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    border: 1px solid #BCA37F;
    border-radius: 5px;
    background-color: #EAD7BB;
    color: #113946;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #113946;
    color: #FFF2D8;
    cursor: pointer;
}

button:hover {
    background-color: #0E2F3A;
}

.drink-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.drink-card {
    border: 1px solid #BCA37F;
    padding: 20px;
    background: #EAD7BB;
    width: 300px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    color: #113946;
    transition: transform 0.3s ease;
}

.drink-card img {
    max-width: 100%;
    border-radius: 10px;
    height: auto;
}

.drink-card .instructions {
    max-height: 100px;
    overflow-y: auto;
    margin-bottom: 10px;
    text-align: left;
}

.drink-card .show-more {
    margin-top: auto;
    background-color: #BCA37F;
    color: #FFF2D8;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.drink-card .show-more:hover {
    background-color: #8C7A5A;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #BCA37F;
    border-top-color: #113946;
    border-radius: 50%;
    animation: spin 1s infinite linear;
    margin: 20px auto;
}

.hidden {
    display: none;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


#scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #113946;
    color: #FFF2D8;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none; 
    width: 50px;  
    height: 50px; 
}

#scroll-top:hover {
    background-color: #0E2F3A;
}


@media (max-width: 1200px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .drink-card {
        width: 100%;
    }

    input, button {
        width: 100%;
        box-sizing: border-box;
    }


    #scroll-top {
        display: block; 
        visibility: hidden;
        pointer-events: none;
        width: 50px; 
        height: 50px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    .drink-card {
        padding: 10px;
    }

    input, button {
        font-size: 14px;
        padding: 8px;
    }

    .drink-card .show-more {
        padding: 8px 16px;
    }

    .drink-card {
        width: 100%;
    }
}
